.Header,
.Header-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.Header {
  font-size: 1.5rem;
  border-bottom: 1px solid #00000022;
}

.Header-name {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: 400;
}

.Header-info {
  margin: 0.3rem 0;
  font-weight: 300;
  font-size: 1.6rem;
}

.Header-info:last-of-type {
  margin-bottom: 0.6rem;
}

.Header-input {
  margin: 0.125rem 0 0.6rem;
}
