.NewJobForm {
  display: flex;
  width: 80%;
  margin: 1rem 3rem;
}

.NewJobForm-container {
  width: 50%;
}

.NewJobForm-input {
  width: 90%;
  margin: 0.25rem 0 0.5rem;
}

.NewJobForm-submit {
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 2rem;
  border: 0;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
}
